:root {
    --bgMain:linear-gradient(90deg,rgba(174, 238, 193, 1) 0%,rgba(0, 141, 161, 1) 100%);
    --red : #E72831;
    --green : #28E772;
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background: var(--bgMain);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.container{
    background-color: whitesmoke;
    width: 60vw;
    height: 90vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 3%;
    font-size: 4.5rem;
    letter-spacing: 0.5rem;
}

.movements-container{
    margin-top: 3%;
    overflow: scroll;
    height: 60vh;
    width: 90%;
}

.movements__row{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px;
    border-radius: 12px;
}


.movement-item {
    display: flex;
    margin: 5%;
    width: 10vw;
    height: 7vh;
    font-size: 2rem;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    letter-spacing: 0.2rem;
    align-items: center;
    justify-content: center;

}

.movement__type--income{
    color:var(--green);
}
.movement__type--outcome{
    color:var(--red);
    text-decoration: #dc4d56;
}

.transactionHistory-backBtn{
    color:black;
    margin-bottom: 2%;
    width: 10vw;
    height: 5vh;
    background: rgba(174, 238, 193, 1);
    border-radius: 12px;
    transition: background-color 0.3s ease-out 100ms;
    border: solid 1px;
    font-weight: bold;
    letter-spacing: 3px;
}


.transactionHistory-backBtn:hover{
    background: var(--green);
}

@media screen and (max-height: 900px ) and (max-width: 500px) {
    .container {
        width: 95%;
        height: 80vh;
    }
    .movement-item{
        font-size: 1.5rem;
        letter-spacing: 0px;
        width: 20vw;
    }
    h1{
        font-size: 3rem;
        letter-spacing: 0px;
    }
    .transactionHistory-backBtn{
        width: 40%;
        margin-bottom: 5%;
    }
}
