:root {
  --bgMain: linear-gradient(
    90deg,
    rgba(174, 238, 193, 1) 0%,
    rgba(0, 141, 161, 1) 100%
  );
  --red: #dc4d56;
  --green: #28e772;
  --yellow: #e3cb30;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background: var(--bgMain);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}

.container {
  background-color: whitesmoke;
  width: 60vw;
  height: 90vh;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin-top: 3%;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
}

.workers-list {
  margin-top: 3%;
  overflow: scroll;
  height: 60vh;
  width: 90%;
}

.workers-list-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px;
  border-radius: 12px;
}

.row-item {
  display: flex;
  margin: 5%;
  width: 10vw;
  height: 7vh;
  font-size: 2rem;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  letter-spacing: 0.2rem;
  align-items: center;
  justify-content: center;
}

/*
WORKER ADD FORM
 */

.worker-add--form
{
  width:90%;
  height: 30vh;
  border-radius: 12px;
  flex-direction: row;
  display: flex;
  justify-content: center;
  background: var(--green);
  flex-wrap: wrap;
}
.worker-add--form__input{
  font-weight: inherit;
  letter-spacing: 3px;
  max-height: 3.5vh;
  width: 30%;
  margin:2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border:none;
  border-radius: 12px;
  text-align: center;
}
.worker-add--form__submit{
  font-weight: inherit;
  letter-spacing: 2px;
  max-height: 4.5vh;
  width: 30%;
  margin:2%;
  display: flex;
  flex-wrap: wrap;
  border:none;
  text-align: center;
  background: rgba(174, 238, 193, 1);
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-out 100ms;
  border-radius: 12px;
}

.worker-add--form__submit:hover {
  background:inherit;
  color:whitesmoke;
}

.empty-input{
  border:solid 2px #ef5560;
}

.workers-backBtn{
  color:black;
  margin-bottom: 2%;
  width: 10vw;
  height: 5vh;
  background: rgba(174, 238, 193, 1);
  border-radius: 12px;
  transition: background-color 0.3s ease-out 100ms;
  border: solid 1px;
  font-weight: bold;
  letter-spacing: 3px;
}


.workers-backBtn:hover{
  background: var(--green);
}