:root {
  --bgMain: linear-gradient(
    90deg,
    rgba(174, 238, 193, 1) 0%,
    rgba(0, 141, 161, 1) 100%
  );
  --red: #dc4d56;
  --green: #28e772;
  --yellow: #e3cb30;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background: var(--bgMain);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.container {
  background-color: whitesmoke;
  width: 40vw;
  height: 90vh;
  border-radius: 12px;
}

.section-title {
  display: flex;
  justify-content: center;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  border-bottom: solid 5px;
  border-radius: 12px;
}

.workers-actionBtns {
  margin: 2%;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px;
  border-radius: 12px;
  letter-spacing: 0.3rem;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.worker-btn {
  margin: 10%;
  width: 6vw;
  height: 5vh;
  font-size: 2rem;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.3rem;
  border: none;
  display: inline-block;
  padding: 3.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease-out 100ms;
  color: blac;
}
.worker-btn:hover {
  transition: 1s;
  color: white;
  border: solid 1px;
}

.add-worker {
  background: var(--green);
}

.edit-worker {
  background: var(--yellow);
}

.delete-worker {
  background: var(--red);
}

.workers-list {
  overflow: scroll;
  margin: 2%;
  height: 60vh;
}

.workers-list-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px;
  border-radius: 12px;
}

.row-item {
  display: flex;
  margin: 5%;
  width: 10vw;
  height: 7vh;
  font-size: 2rem;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  letter-spacing: 0.2rem;
  align-items: center;
  justify-content: center;
}
